<div style="display:none" id="about-container">
  <%=fa_icon("arrow-left 5x", role: "button", class: "back-btn")%>
  <content>
    <h1>About</h1>
    <p>
      Thanks for visiting my portfolio site!  In this site I’ve compiled a showcase of my web development work to date.  The projects range from the simplest of information small business sites to a sprawling, feature rich, C.R.M. built in the first half of 2017.
    </p>
    <p>
      Regardless of complexity or degree of completion, the projects on this site represent work I’m proud of.  I also believe they represent a diversity of content and technological necessity.  I’ve attempted in each of these projects, whether I was the sole designer, or part of a team, to keep the sites purpose in mind above my own aesthetic preferences.
    </p>
    <p>
      If you’re here to ascertain my front-end capacity, I recommend starting with the <strong href="<%=Project.find(7).url%>">J.S.V.C.O.</strong>, a javascript-based musical instrument, or <strong href="<%=Project.find(9).url%>">Torte Bakery</strong>, the beginnings of a site for a small independent bakery in St. Louis.
    </p>
    <p>
      If you’re here judge my back-end skills I’ll direct your attention to the <strong href="<%=Project.find(4).url%>">Archway C.R.M.</strong>, my most complex and challenging project to date, or <strong href="<%=Project.find(5).url%>">We’d Deliver</strong>, an delivery request application for a hypothetical medical cannabis company which I helped a friend build.
    </p>

    <p>
      Thanks again for your support and interest.
    </p>
    <div id="signature">-Cory Mathis</div>
  </content>

</div>
