<%=render "project_description_modal"%>
<div style="display:none" id="projects-container">
   <%=fa_icon("arrow-left 5x", role: "button", class: "back-btn")%>
   <content>
     <h1>Projects</h1>
     <div id="projects-list">
        <% @projects.each do |project| %>
          <div>
            <div id="project-header" > 
                <%=fa_icon("info-circle 3x", role: "button", href: project_path(project) )%>
                <h2 id="project-name"><%= project.name %></h2> 
                <%=fa_icon("external-link 3x", role: "button", href: project.url)%> 
            </div>
            
            <div id="project-photo">
              <%=image_tag(project.photo_url, size: "700x400")%>
            </div>
          </div>

        <% end %>
     </div>
   </content>
</div>
