<%=render "about"%>
<%=render "projects"%>
<div id="app-container">
  <header id="landing-page-header" class="landing-page-headings">
    <h1>Cory Mathis</h1>
  </header>
  <%=fa_stacked_icon("info", base: "circle-thin", class: "fa-5x", id: "landing-page-about-btn", role: "button")%>

  <div>
    <div id="portrait-curtain">
      <%=image_tag(@portrait_url, id: "landing-page-portrait", size: "250x250")%>
      <div class="links">
        <%=link_to fa_icon("github 5x"), "https://github.com/coryrmathis"%>
        <%=link_to fa_icon("linkedin 5x"), "https://www.linkedin.com/in/coryrmathis/"%>
      </div>
    </div>
  </div>
  <%=fa_stacked_icon("code", base: "circle-thin", role: "button", class: "fa-5x", id: "landing-page-portfolio-btn")%>
  <footer id="landing-page-footer" class="landing-page-headings">
    <h1>Web Developer</h1>
  </footer>
</div>




